

.main-header {
    background: #f72210;
    height: 100px;
    color: white;
}

.main-header ul {
    list-style: none;
}
.main-header ul li {
    display: inline;
}
.site-title {
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
}
.link-border{
    padding: 6px;
    font-weight: bold;
    font-size: .9em;
    color: #000;
    letter-spacing: -.8px;
   
}
.outer{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;

}
.link-border:hover{
    color: red;
    text-decoration: none;
}