

.main-header {
    background: #f72210;
    height: 100px;
    color: white;
}

.main-header ul {
    list-style: none;
}
.main-header ul li {
    display: inline;
}
.site-title {
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
}
.date {
    padding-top: 56px;
}
.signup {
    padding: 20px 10px 12px 40px;
}