body{
    background: #f4f5f6;
}
.main-container {
    background: white;
    padding-left: 25px;
    padding-right: 25px;
}
.main-header {
    background: #f72210;
    height: 100px;
    color: white;
    position: relative;
}
.shape {
    content: "";
    position: absolute;
    background: #f72210;
    height: 15px;
    width: 60px;
    bottom: -15px;
    right: 0;
}
.shape::after {
    content: "";
    position: absolute;
    width: 0; height: 0; 
    border-top: 15px solid #f72210; 
    border-left: 20px solid transparent;
    right: 60px;
}
.main-header ul {
    list-style: none;
}
.main-header ul li {
    display: inline;
}
.site-title {
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
}
.date {
    padding-top: 56px;
}
.signup ul{
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin-bottom: 0;
    font-weight: 600;
}
.signup .subscribe {
    padding: 8px;
    background: white;
    color: red;
}
.main-nav {
    list-style: none;
    padding: 15px 10px 13px 10px;
    border-bottom: solid 1px #d9d9d9;
    
}
.main-nav li {
    display: inline;
    padding: 4px 21px 4px 21px;
    font-size: 22px;
    font-weight: 600;
}
.main-nav li:not(:last-child) {
    border-right: solid 1px #d9d9d9;
}
.main-nav li input {
    width: 80px;
    border: none;
}
.link-border{
    padding: 6px;
    font-weight: bold;
    font-size: .9em;
    color: #000;
    letter-spacing: -.8px;
   
}
.outer{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;

}
.link-border:hover{
    color: red;
    text-decoration: none;
}
.top-story-image {
    width: 100%;
    height: 0;
    padding-top: 80%;
    position: relative;
    background: #354092;
}
.side-article .top-story-image {
    width: 100%;
    height: 0;
    padding-top: 65%;
    position: relative;
    background: #354092;
}
.image-sticker {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e6e6e6;
    color: #f72210;
    font-weight: 600;
    font-size: 20px;
    padding: 3px 10px 3px 10px;
}
/* .story::after {
    content: "";
    display: table;
    clear: both;
} */
.story .story-image {
    width: 30%;
    height: 0;
    padding-top: 27%;
    background: #5c61c5;
    float: left;
}
.story h6, .story p {
    width: 70%;
    float: left;
    padding: 3px 0 3px 6px;
}
.dark-grey {
    color: #555555;
}
.opinion .opinion-image {
    width: 15%;
    height: 0;
    padding-top: 15%;
    float: left;
    background: #e33c29;
    border-radius: 50%;
}
.opinion h5, .opinion h6 {
    width: 85%;
    float: left;
    padding: 2px 2px 2px 10px;
}
.opinions hr, .latest-news hr, .more-stories hr {
    margin-top: 12px;
    margin-bottom: 12px;
}
.news .news-image {
    width: 30%;
    height: 0;
    padding-top: 21%;
    background: #0b1b3a;
    float: left;
}
.news h6 {
    width: 70%;
    float: left;
    padding: 2px 2px 10px 15px;

}
.ad-card .card-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
    background: #6bba88;
}
.ad-card {
    margin-top: 20px;
    border: solid 1px #e6e6e6;
}

.ad-card h3, .ad-card p {
    padding-left: 20px;
    padding-right: 20px;
}
.ad-card h3 {
    padding-top: 20px;
}
.ad-card p{
    padding-bottom: 20px;
}
.sky-blue {
    color: #3581f4;
}
.magazine-article .article-image {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background: #4252c2;

}
.magazine-article ul li {
    display: inline;
    font-weight: 600;
}
.magazine-article ul {
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;   
}
.magazine-article ul .caption {
    color: white;
    background: #f72210;
    padding: 4px 5px 4px 5px;
}
.red-text {
    color: #f72210;
}
.magazine-caption, 
.editors-caption, 
.featured-caption {
    text-align: center;
    margin-top: 20px;
}
.magazine-caption span, 
.editors-caption span,
.featured-caption span {
    color: white;
    background: #f72210;
    padding: 4px 6px 4px 6px;
    font-size: 23px;
}
.editor .editors-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
    background: #890922;
}
.slide-image .image-sticker {
    background: url(../images/sticker-background.png) 0 0/contain no-repeat;

}
.slide .slide-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 70%;
    background: #5a8420; 
}
.category .header {
    padding-left: 15px
}
.category-item .post-image {
    width: 100%;
    height: 0;
    padding-top: 70%;
    background: #92a3b3;
}
.sub-category .post-image {
    width: 30%;
    height: 0;
    padding-top: 22%;
    background: #321409;
    float: left;
}
.sub-category h5 {
    width: 70%;
    padding-left: 4px;
    float: left;
}
.first-section .first-section-image {
    width: 30%;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}
.last-section {
    margin-top: 25px;
}
.bottom-ad {
    background: #f4f5f6;
}
.first-section h3, 
.first-section ul {
    float: left;
}
.first-section h3 {
    padding-top: 15px;
    padding-left: 38px;
}
.bottom-ad button {
    padding: 10px 10px 10px 60px;
}
.last-section{
    margin: 5%;
}
.most-tabs {
    font: bold 16px/16px "Roboto Condensed",sans-serif;
}
.last-bg{
    background-color: #f4f5f6;
    padding-bottom: 2%;
}
.leaf{
    border-right: 1px solid #d9d9d9;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #666;
    margin-bottom: 1%;
}
.last-leaf{
    padding-right: 10px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #666;
}
.edition{
    display: inline;
    margin: -2% 4% 0% 0%;
    color: #333;
}
.footer{
    margin-bottom: 3%;
}
.sticky {
    position: sticky;
    top: 0;
}
.top-story-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}